@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Festive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* .container-01 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: #ebf5fc;
} */

.container-02 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    /* background: #161616; */
}

h4 {
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}

h1 {
    font-size: 20px;
}

h6 {
    color: #ebf5fc00;
}

.container-02 h5 {
    position: relative;
    width: 30%;
    text-align: center;
    z-index: 11;
    color: #fff;
    font-weight: 400;
    border-radius: 100px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    /* background: rgba(255, 255, 255, 0.05); */
}

h5 {
    font-size: 20px;
}

h2 {
    font-size: 15px;
    /* font-style: italic; */
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.container-02 .glassmorphic-card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    width: 650px;
    height: 500px;
    padding: 5px 3px;
    padding-bottom: 10px;
    margin: 28px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    /* background: rgba(255, 255, 255, 0.1); */
    backdrop-filter: blur(5px);
    overflow: hidden;
}

.container-02 .glassmorphic-card:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 10em;
    background: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

.container-02 .glassmorphic-card .imgBox {
    position: relative;
    text-align: center;
}


/* .container-02 .glassmorphic-card .imgBox i {
font-size: max(80px);
color: rgba(255,255,255, 0.1);
} */

.container-02 .glassmorphic-card .contentBox {
    position: relative;
    /* margin-top: 10px; */
    text-align: center;
    transition: 0.5s;
}


/* .container-02 .glassmorphic-card .contentBox .date {
    position: relative;
    margin-top: 10px;
    text-align: center;
    transition: 0.5s;
} */

.container-02 .glassmorphic-card .contentBox .date {
    display: flex;
    text-align: left;
    justify-content: space-around;
}


/* .container-02 .glassmorphic-card .contentBox:before {
content: 'DIGITAL';
  position: absolute;
  top: -50px;
  left: -125px;
  width: 100%;
  font-size: 4em;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  transform: rotate(-90deg);
  color: rgba(0,0,0,0.2);
} */

.container-02 .glassmorphic-card .contentBox h3 {
    font-size: 1em;
    color: #fff;
    z-index: 1;
}

.container-02 .glassmorphic-card .contentBox h5 {
    font-size: 1em;
    color: #fff;
    z-index: 2;
    padding: 5px;
}

.container-02 .glassmorphic-card .contentBox p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}


/* .container-02 .glassmorphic-card .contentBox a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
} */

.container-02 p {
    z-index: 12;
    margin: 20px auto 10px;
    position: relative;
    color: #fff;
}

.container-02 p span {
    font-weight: 700;
}

@media (max-width:500px) {
    .container-02 .glassmorphic-card {
        position: relative;
        /* display: flex; */
        justify-content: center;
        /* align-items: center; */
        flex-wrap: wrap;
        z-index: 1;
        width: 350px;
        height: 540px;
        padding: 10px 3px;
        padding-bottom: 10px;
        margin-top: 0px;
        /* margin: 28px; */
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        /* background: rgba(255, 255, 255, 0.1); */
        backdrop-filter: blur(5px);
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .date {
        font-size: 0.725rem;
    }
}

@media (max-width:600px) {
    .container-02 .glassmorphic-card {
        position: relative;
        display: flex;
        justify-content: center;
        /* align-items: center; */
        flex-wrap: wrap;
        z-index: 1;
        width: 450px;
        height: 500px;
        padding: 10px 3px;
        padding-bottom: 10px;
        margin-top: 0px;
        /* margin: 28px; */
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        /* background: rgba(255, 255, 255, 0.1); */
        backdrop-filter: blur(5px);
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .date {
        font-size: 0.8rem;
        padding: 5px;
    }
}

@media (max-width:350px) {
    .container-02 .glassmorphic-card {
        position: relative;
        display: flex;
        justify-content: center;
        /* align-items: center; */
        flex-wrap: wrap;
        z-index: 1;
        width: 310px;
        height: 560px;
        padding: 10px 3px;
        padding-bottom: 10px;
        margin-top: 0px;
        /* margin: 28px; */
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        /* background: rgba(255, 255, 255, 0.1); */
        backdrop-filter: blur(5px);
        overflow-y: hidden;
        overflow-x: hidden;
    }
}

@media (max-width:320px) {
    .container-02 .glassmorphic-card {
        position: relative;
        display: flex;
        justify-content: center;
        /* align-items: center; */
        flex-wrap: wrap;
        z-index: 1;
        width: 290px;
        height: 560px;
        padding: 10px 3px;
        padding-bottom: 10px;
        margin-top: 0px;
        /* margin: 28px; */
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        /* background: rgba(255, 255, 255, 0.1); */
        backdrop-filter: blur(5px);
        overflow-y: hidden;
        overflow-x: hidden;
    }
}

@media (max-width:290px) {
    .container-02 .glassmorphic-card {
        position: relative;
        display: flex;
        justify-content: center;
        /* align-items: center; */
        flex-wrap: wrap;
        z-index: 1;
        width: 250px;
        height: 560px;
        padding: 10px 3px;
        padding-bottom: 10px;
        margin-top: 0px;
        /* margin: 28px; */
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        /* background: rgba(255, 255, 255, 0.1); */
        backdrop-filter: blur(5px);
        overflow-y: hidden;
        overflow-x: hidden;
    }
}

@media (max-width:450px) {
    .container-02 .glassmorphic-card {
        position: relative;
        display: flex;
        justify-content: center;
        /* align-items: center; */
        flex-wrap: wrap;
        z-index: 1;
        width: 340px;
        height: 550px;
        padding: 10px 3px;
        padding-bottom: 10px;
        margin-top: 0px;
        /* margin: 28px; */
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        /* background: rgba(255, 255, 255, 0.1); */
        backdrop-filter: blur(5px);
        overflow-y: hidden;
        overflow-x: hidden;
    }
    
    .para {
        font-size: 13px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .date {
        font-size: 0.6rem;
        padding: 2px;
    }
}

@media (min-width:800px) {
    .para {
        padding-left: 10px;
        padding-right: 10px;
    }
}